In [1]:
#!pip install -U finance-datareader

ERROR: Could not find a version that satisfies the requirement FinanceDataReader (from versions: none)
ERROR: No matching distribution found for FinanceDataReader

In [3]:
#!pip install pykrx

Collecting pykrx
  Downloading pykrx-0.1.26-py3-none-any.whl (36 kB)
Requirement already satisfied: pandas in c:\users\no\anaconda3\lib\site-packages (from pykrx) (1.1.0)
Requirement already satisfied: numpy in c:\users\no\anaconda3\lib\site-packages (from pykrx) (1.18.5)
Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
Requirement already satisfied: requests in c:\users\no\anaconda3\lib\site-packages (from pykrx) (2.24.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\no\anaconda3\lib\site-packages (from pandas->pykrx) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\no\anaconda3\lib\site-packages (from pandas->pykrx) (2.8.1)
Requirement already satisfied: zope.interface in c:\users\no\anaconda3\lib\site-packages (from datetime->pykrx) (5.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\no\anaconda3\lib\site-packages (from requests->pykrx) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\no\anaconda3\lib\site-packages (from requests->pykrx) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\no\anaconda3\lib\site-packages (from requests->pykrx) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\no\anaconda3\lib\site-packages (from requests->pykrx) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\no\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: setuptools in c:\users\no\anaconda3\lib\site-packages (from zope.interface->datetime->pykrx) (49.2.0.post20200714)
Installing collected packages: datetime, pykrx
Successfully installed datetime-4.3 pykrx-0.1.26

In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr
from bs4 import BeautifulSoup
import requests
from pandas import DataFrame, Series
import csv
import re
from pykrx import stock

In [81]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests as re
import csv
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
from pandas import DataFrame, Series
import csv

In [86]:
tickers = {'019180':'티에이치엔',
           '095570':'AJ네트웍스',
           '013520':'화승알앤에이',
          '008770':'호텔신라',
          '002410':'범양건영',
          '101140':'비티원',
          '035250':'강원랜드',
          '134790':'시디즈',
          '007120':'미래아이앤지',
          '006390':'한일현대시멘트',
          }

In [2]:
def get_fnguide_table(tickers):

    for code in tickers.keys():
        ''' 경로 탐색'''
        url = re.get('http://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A%s'%(code))
        url = url.content

        html = BeautifulSoup(url,'html.parser')
        body = html.find('body')

        fn_body = body.find('div',{'class':'fng_body asp_body'})
        ur_table = fn_body.find('div',{'id':'div15'})
        table = ur_table.find('div',{'id':'highlight_D_Y'})

        tbody = table.find('tbody')


    
        tr = tbody.find_all('tr')

        Table = DataFrame()

        for i in tr:
        
            ''' 항목 가져오기'''
            category = i.find('span',{'class':'txt_acd'})
            
            if category == None:
                category = i.find('th')   
        
            category = category.text.strip()

        
            '''값 가져오기'''
            value_list =[]

            j = i.find_all('td',{'class':'r'})
            
            for value in j:
                temp = value.text.replace(',','').strip()
                    
                try:
                    temp = float(temp)
                    value_list.append(temp)
                except:
                    value_list.append(0)
            
            Table['%s'%(category)] = value_list
            
            ''' 기간 가져오기 '''    
            
            thead = table.find('thead')
            tr_2 = thead.find('tr',{'class':'td_gapcolor2'}).find_all('th')
                    
            year_list = []
            
            for i in tr_2:
                try:
                    temp_year = i.find('span',{'class':'txt_acd'}).text
                except:
                    temp_year = i.text
                
                year_list.append(temp_year)
                    
            Table.index = year_list
     
        Table = Table.T
        Table = Table.loc[['ROA','ROE','EPS','BPS','DPS','PER','PBR']]
        print(Table)
    return

get_fnguide_table(tickers)

NameError: name 'tickers' is not defined

In [3]:
    url = 'https://finance.naver.com/sise/sise_group.nhn?type=upjong'
    req = requests.get(url)
    session = requests.session()
    res = session.get(url)

    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    b = soup.select('div > #contentarea > #contentarea_left > table > tr > td > span')

    value = []
    for i in range(0,79):
        title = b[i].get_text().strip()
        value.append(title)

    tickers = stock.get_market_ticker_list()

    df = stock.get_market_ohlcv_by_date("20160101", "20181212", tickers[1], "m")

    # 해당 월 기준 재무재표 종목들 다 가져오는 
    df = stock.get_market_fundamental_by_ticker("20180305")
    df = pd.DataFrame(df)

In [4]:
df

           종목명   DIV    BPS     PER   EPS       PBR
티커
000250   삼천당제약  0.14   5689   84.48   422  6.266578
000440  중앙에너비스  2.76  37029   25.55  1135  0.783150
001000    신라섬유  0.00    563  290.91    11  5.683854
002230    피에스텍  1.29   6980   24.11   241  0.832451
002290  삼일기업공사  3.00   4256   54.64    55  0.706109
...        ...   ...    ...     ...   ...       ...
282330  BGF리테일  0.00      0    0.00     0  0.000000
282690   동아타이어  0.00      0    0.00     0  0.000000
284740   쿠쿠홈시스  0.00      0    0.00     0  0.000000
285130   SK케미칼  0.00      0    0.00     0  0.000000
28513K  SK케미칼우  0.00      0    0.00     0  0.000000

[2127 rows x 6 columns]

In [2]:
df = fdr.DataReader('105560', '2019-01-01', '2019-12-31')
df.head(15)

             Open   High    Low  Close   Volume    Change
Date
2019-01-02  46700  46900  45600  45950   636199 -0.011828
2019-01-03  46600  46800  46200  46450  1275976  0.010881
2019-01-04  46500  46600  45600  45650   784105 -0.017223
2019-01-07  45800  46650  45450  45450   957133 -0.004381
2019-01-08  45900  45950  45300  45500   868450  0.001100
2019-01-09  46050  46650  45800  46450   885435  0.020879
2019-01-10  46500  46500  45500  45500  1195029 -0.020452
2019-01-11  45550  46100  45150  45350  1077396 -0.003297
2019-01-14  45450  45850  44400  44550  1189035 -0.017641
2019-01-15  45000  46750  44800  46750  1317274  0.049383
2019-01-16  46900  47700  46450  47450  1091289  0.014973
2019-01-17  47800  47850  47050  47600  1035554  0.003161
2019-01-18  47350  47400  46550  46700  1054443 -0.018908
2019-01-21  46500  46700  46000  46100  1451479 -0.012848
2019-01-22  45600  45800  45300  45750  1365448 -0.007592

# 네이버 크롤링 ( 매일매일 득락률, 지표등등)

In [41]:
BASE_URL = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok='

KOSPI_CODE = 0
KOSDAK_CODE = 1
START_PAGE = 1

def main(code):
    res = requests.get(BASE_URL + str(code) + '&page=' + str(START_PAGE))
    page_soup = BeautifulSoup(res.text, 'lxml')
    
    total_page_num = page_soup.select_one('td.pgRR > a')
    total_page_num = int(total_page_num.get('href').split('=')[-1])
    
    result = [crawl(code,str(page)) for page in range(1,total_page_num + 1)]
    
    df = pd.concat(result, axis = 0, ignore_index = True)
    
    #df.to_excel('NaverFinance.xlsx')
    return df
    
def crawl(code, page):
    res = requests.get(BASE_URL + str(code) + "&page=" + str(page))
    page_soup = BeautifulSoup(res.text, 'lxml')
    
    table_html = page_soup.select_one('div.box_type_l')
    
    header_data = [item.get_text().strip() for item in table_html.select('thead th')][1:-1]
    
    inner_data = [item.get_text().strip() for item in table_html.find_all(lambda x:
                                                                            (x.name == 'a' and
                                                                             'tltle' in x.get('class', [])) or
                                                                            (x.name == 'td' and
                                                                             'number' in x.get('class', []))
                                                                            )]
    no_data = [item.get_text().strip() for item in table_html.select('td.no')]
    number_data = np.array(inner_data)
    
    number_data.resize(len(no_data), len(header_data))
    
    df = pd.DataFrame(data = number_data, columns = header_data)
    return df

data = main(KOSPI_CODE)

In [73]:
#data.index = list(data.index)
#data2 = data[['종목명','PER','ROE']].dropna(axis = 0)
re_data = data[['종목명','PER','ROE']].replace("N/A", np.nan) 
data2 = re_data[['종목명','PER','ROE']].dropna(how='any', axis=0)
data2['PER_rank'] = data[['PER']].rank(method = 'min')
data2['ROE_rank'] = data[['ROE']].rank(method = 'min', ascending = False)
data2['rank_sum'] = (data2['PER_rank'] + data2['ROE_rank']).rank()
data2.sort_values(by = 'rank_sum').head(20)

           종목명      PER    ROE  PER_rank  ROE_rank  rank_sum
673     화승알앤에이   -10.90   9.62      49.0     805.0       1.0
55        강원랜드  -217.37   9.16     114.0     811.0       2.0
738      태평양물산   -18.75   6.99      83.0     893.0       3.0
590       태경산업   -34.03   8.91     159.0     821.0       4.0
720       비상교육   -13.38   5.36      61.0     958.0       5.0
136         만도   -35.60   7.55     161.0     867.0       6.0
688         백산   -11.47   4.90      54.0     979.0       7.0
435       삼성제약   -12.92   5.02      58.0     976.0       8.0
269  에이프로젠 KIC   -10.25   4.70      46.0     995.0       9.0
80          GS   -26.88   6.26     128.0     915.0      10.0
348        이월드  -141.04   4.67      71.0     997.0      11.0
275      SPC삼립   -36.19   6.34     164.0     910.0      12.0
760        휴니드   -50.00   7.10     207.0     886.0      13.0
457      AK홀딩스    -1.80   3.38      37.0    1058.0      14.0
497       남양유업   -10.49   3.25      47.0    1063.0      15.0
331     한화투자증권    11.25   9.36     315.0     808.0      16.0
783    KC그린홀딩스   -23.72   4.61     122.0    1003.0      17.5
392       송원산업    10.02   8.24     282.0     843.0      17.5
808     한익스프레스    10.15   8.30     284.0     842.0      19.0
942      티에이치엔    -2.60  33.47      97.0    1032.0      20.0

In [50]:
df_per = pd.read_excel(r'C:\Users\Public\per.xlsx')

In [51]:
df_per = df_per.set_index('Date')
df_per.head(2)

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A300720,A306200,A307950,A316140,A900030,A900050,A900140,A950010,A950070,A950100
Date,,,,,,,,,,,,,,,,,,,,,
2001-01-31,5.72,10.10,1.25,NaN,NaN,5.92,NaN,NaN,NaN,9.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-02-28,5.01,10.19,1.13,NaN,NaN,4.28,NaN,NaN,NaN,8.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### per 데이터를 가지고 공백을 0으로 채워버리면 
### per 가 낮을수록 좋다 평가할때 0으로 채워진 값들이
### 좋은거로 나와서.. 어떻게 해결해야될지 
### 빈공간을 없애버리면 데이터 자체가 40개 정도만 나와서
### 의미가 없어집니다

In [57]:
a = df_per[:].T.fillna(value = 0).rank(method = 'min')
a

Date,2001-01-31,2001-02-28,2001-03-30,2001-04-30,2001-05-31,2001-06-29,2001-07-31,2001-08-31,2001-09-28,2001-10-31,...,2018-08-31,2018-09-28,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-29,2019-04-30,2019-05-29
A000010,1111.0,1100.0,1029.0,1030.0,1035.0,1050.0,1054.0,1056.0,1038.0,1046.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
A000020,1163.0,1165.0,1131.0,1119.0,1131.0,1151.0,1124.0,1132.0,1131.0,1093.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,1162.0
A000030,1039.0,1035.0,984.0,960.0,954.0,952.0,972.0,975.0,976.0,991.0,...,922.0,924.0,928.0,915.0,923.0,910.0,6.0,4.0,5.0,5.0
A000040,5.0,5.0,14.0,16.0,16.0,17.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
A000050,5.0,5.0,1067.0,1104.0,1085.0,1082.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A900050,5.0,5.0,14.0,16.0,16.0,17.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
A900140,5.0,5.0,14.0,16.0,16.0,17.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
A950010,5.0,5.0,14.0,16.0,16.0,17.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
A950070,5.0,5.0,14.0,16.0,16.0,17.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0
A950100,5.0,5.0,14.0,16.0,16.0,17.0,12.0,16.0,14.0,18.0,...,9.0,9.0,10.0,9.0,8.0,6.0,6.0,4.0,5.0,5.0

## 테마별 수익률

In [60]:
url = 'https://finance.naver.com/sise/sise_group.nhn?type=upjong'
req = requests.get(url)
session = requests.session()
res = session.get(url)

In [63]:
html = req.text
soup = BeautifulSoup(html, 'html.parser')
b = soup.select('div > #contentarea > #contentarea_left > table > tr > td > span')

value = []
for i in range(0,79):
    title = b[i].get_text().strip()
    value.append(title)

In [77]:
target = [ i for i in zip(name,value)]
target = pd.DataFrame(target)
target

             0       1
0    항공화물운송과물류  +6.31%
1           기계  +5.13%
2          포장재  +4.76%
3          문구류  +4.47%
4           건설  +4.27%
..         ...     ...
74  양방향미디어와서비스  -1.18%
75      건강관리기술  -1.74%
76          출판  -1.76%
77  생명과학도구및서비스  -2.20%
78       교육서비스  -2.57%

[79 rows x 2 columns]

In [81]:
tickers = stock.get_market_ticker_list()
tickers[0]

'060310'

### tickers[] 여기에 for 문 만들어서 월말 주가를 가져오는 함수.
### 데이터 프레임에 저장하는 법 구상중..

In [ ]:
df = stock.get_market_ohlcv_by_date("20160101", "20181212", tickers[1], "m")
df.head(2)

In [88]:
# 직접 멈추어야 합니다..
import time
for ticker in stock.get_market_ticker_list():
    df = stock.get_market_ohlcv_by_date("20181210", "20190130", ticker, "m")
    print(ticker)
    print(df.head())
    time.sleep(1)

060310
              시가    고가    저가    종가      거래량
날짜
2018-12-31  2110  2380  2005  2215  1607489
2019-01-31  2280  2730  2110  2460  2335915
095570
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4840  4840  4220  4505   818481
2019-01-31  4530  4925  4385  4795  1296059
006840
               시가     고가     저가     종가     거래량
날짜
2018-12-31  55400  56900  52000  54000  258678
2019-01-31  53900  54000  48900  50000  336134
054620
              시가    고가    저가    종가     거래량
날짜
2018-12-31  4230  4445  4000  4220  548667
2019-01-31  4225  4590  3910  4530  955369
265520
               시가     고가     저가     종가      거래량
날짜
2018-12-31  22300  23000  20300  21700  3150068
2019-01-31  21850  27650  20550  27250  6276058
211270
              시가    고가    저가    종가     거래량
날짜
2018-12-31  6460  6610  5940  6430  269420
2019-01-31  6460  6700  6140  6260  195744
027410
              시가    고가    저가    종가      거래량
날짜
2018-12-31  7900  8580  7830  8070  1976888
2019-01-31  8050  8100  7440  7870  3379914
282330
                시가      고가      저가      종가     거래량
날짜
2018-12-31  189500  219000  187000  204000  410935
2019-01-31  201000  216000  179500  184500  554450
138930
              시가    고가    저가    종가       거래량
날짜
2018-12-31  7480  7740  7290  7330  14620263
2019-01-31  7270  7290  6600  7200  24182246
001460
                시가      고가      저가      종가   거래량
날짜
2018-12-31  240000  263500  236000  246000  2260
2019-01-31  246500  266000  236000  240500  7543
001465
                시가      고가      저가      종가   거래량
날짜
2018-12-31  109500  130000  107000  114000  1679
2019-01-31  114500  121000  108000  113500  1949
001040
                시가      고가      저가      종가      거래량
날짜
2018-12-31  117870  130600  117399  121500  1214929
2019-01-31  121000  122000  115500  117500  1173215
079160
               시가     고가     저가     종가      거래량
날짜
2018-12-31  36056  40274  35738  37190  2036097
2019-01-31  37280  39457  35421  38551  2894473
035760
                시가      고가      저가      종가      거래량
날짜
2018-12-31  215200  218100  196900  201900  1026059
2019-01-31  202700  217600  187400  213500  1281072
00104K
Empty DataFrame
Columns: [시가, 고가, 저가, 종가, 거래량]
Index: []
000120
                시가      고가      저가      종가      거래량
날짜
2018-12-31  157500  172000  156500  167000   767372
2019-01-31  166000  177500  160500  166500  1122793
011150
              시가    고가    저가    종가      거래량
날짜
2018-12-31  2390  2485  2255  2320   793850
2019-01-31  2350  2500  2220  2395  1428434
011155
               시가     고가     저가     종가    거래량
날짜
2018-12-31  29250  29250  25900  27150  12518
2019-01-31  27200  28700  26300  27800  15934
001045
               시가     고가     저가     종가     거래량
날짜
2018-12-31  49270  60307  48122  52000  334860
2019-01-31  52100  55100  48650  54000   90421
097950
                시가      고가      저가      종가     거래량
날짜
2018-12-31  336000  355000  324500  330500  489359
2019-01-31  330500  347000  326000  333500  616086
097955
                시가      고가      저가      종가    거래량
날짜
2018-12-31  127500  130000  122500  125000  46773
2019-01-31  125500  130500  122000  127500  55455
051500
               시가     고가     저가     종가     거래량
날짜
2018-12-31  24400  26950  23900  26500  566365
2019-01-31  26350  30900  24300  29400  897782
058820
              시가    고가    저가    종가       거래량
날짜
2018-12-31  4148  4253  3781  4039  10003613
2019-01-31  4081  4930  3809  4563  31903112
023460
              시가    고가    저가    종가      거래량
날짜
2018-12-31  1385  1455  1340  1390   915723
2019-01-31  1390  1555  1365  1505  2895897
065770
              시가    고가    저가    종가      거래량
날짜
2018-12-31  1900  1950  1705  1875   334195
2019-01-31  1875  2365  1860  2315  1285530
083660
              시가    고가    저가    종가       거래량
날짜
2018-12-31  4260  4500  3725  4080   2785218
2019-01-31  4100  4660  3550  4375  11274534
000590
               시가     고가     저가     종가    거래량
날짜
2018-12-31  68800  68800  62000  63900   5244
2019-01-31  62600  66700  58300  64600  10944
012030
             시가   고가   저가   종가       거래량
날짜
2018-12-31  830  837  799  831   5346145
2019-01-31  830  969  808  954  18785898
322780
Empty DataFrame
Columns: [시가, 고가, 저가, 종가, 거래량]
Index: []
016610
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4545  4655  4365  4445  1205766
2019-01-31  4445  5070  4210  4890  2013091
005830
               시가     고가     저가     종가      거래량
날짜
2018-12-31  68400  74700  67900  70400  2079507
2019-01-31  70600  71500  65200  69400  2767774
000990
               시가     고가     저가     종가      거래량
날짜
2018-12-31  11000  11550  10200  10850  2992383
2019-01-31  10850  13700   9980  13600  8442571
000995
               시가     고가     저가     종가    거래량
날짜
2018-12-31  36500  39000  35000  36400   2457
2019-01-31  36400  43400  33100  38400  57328
139130
              시가    고가    저가    종가       거래량
날짜
2018-12-31  8660  8750  8280  8310  11180118
2019-01-31  8310  8510  8000  8490  12395898
001530
               시가     고가     저가     종가     거래량
날짜
2018-12-31  58163  59613  55941  58474   59777
2019-01-31  58572  62110  52970  61521  134442
068790
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4800  4910  4350  4590  1305549
2019-01-31  4600  5360  4275  5200  2401668
004840
              시가    고가    저가    종가     거래량
날짜
2018-12-31  6167  6685  6079  6560  121656
2019-01-31  6560  6840  6040  6630  131644
241520
              시가    고가    저가    종가      거래량
날짜
2018-12-31  5080  5140  3800  4055  4017942
2019-01-31  4080  4255  3915  4115  1615817
155660
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4185  4345  3780  3990  1600262
2019-01-31  4020  4210  3700  4180   819620
069730
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4545  5080  4195  4300  4584394
2019-01-31  4305  4825  4025  4685  1870562
017940
               시가     고가     저가     종가     거래량
날짜
2018-12-31  57100  59100  55500  55800  129587
2019-01-31  55700  61300  53000  60300  181675
245620
              시가    고가    저가    종가       거래량
날짜
2018-12-31  5550  5560  3980  5220   5170107
2019-01-31  5220  6580  4905  6200  21693147
037370
               시가     고가     저가     종가       거래량
날짜
2018-12-31  10500  14150  10500  11400  18688285
2019-01-31  11600  16800  10950  15200  21016117
079190
            시가  고가  저가    종가  거래량
날짜
2018-12-31   0   0   0  2780    0
2019-01-31   0   0   0  2780    0
007700
               시가     고가     저가     종가      거래량
날짜
2018-12-31  46900  47100  37400  40050  1542353
2019-01-31  40100  45250  36500  43850  2099738
130500
              시가    고가    저가    종가      거래량
날짜
2018-12-31  2595  2700  2385  2430   221586
2019-01-31  2430  3300  2405  2870  5685134
114090
               시가     고가     저가     종가      거래량
날짜
2018-12-31  26000  27350  24200  24900  3604018
2019-01-31  24650  26200  23700  25900  4024338
078930
               시가     고가     저가     종가      거래량
날짜
2018-12-31  50100  53700  49800  51600  2419088
2019-01-31  51100  53600  47900  53600  2842762
083450
              시가    고가    저가    종가     거래량
날짜
2018-12-31  4810  4810  4265  4440  294843
2019-01-31  4410  5310  4130  5180  829378
006360
               시가     고가     저가     종가      거래량
날짜
2018-12-31  42850  48250  42150  43750  7921945
2019-01-31  44000  48150  40800  47600  8914448
001250
              시가    고가    저가    종가      거래량
날짜
2018-12-31  2575  2625  2415  2465  2132582
2019-01-31  2480  2760  2285  2680  4717220
007070
               시가     고가     저가     종가      거래량
날짜
2018-12-31  37500  41900  37500  40500  2420308
2019-01-31  39900  40600  34900  36900  4992048
078935
               시가     고가     저가     종가    거래량
날짜
2018-12-31  36800  37500  35500  35750  35114
2019-01-31  35750  35950  33750  35800  45512
028150
                시가      고가      저가      종가     거래량
날짜
2018-12-31  195000  196100  179000  179600  238015
2019-01-31  180800  197300  171100  193400  282913
045890
              시가    고가    저가    종가       거래량
날짜
2018-12-31  2955  3325  1515  1710  39500906
2019-01-31  1720  2270  1640  2145  19349855
078150
              시가    고가    저가    종가       거래량
날짜
2018-12-31  2750  3245  2615  3195  35033543
2019-01-31  3235  3885  2940  3830  50089822
012630
               시가     고가     저가     종가      거래량
날짜
2018-12-31  16450  18350  16050  17250  6871905
2019-01-31  17300  19400  15400  18900  8690019
039570
              시가     고가    저가     종가     거래량
날짜
2018-12-31  9660   9660  8980   9520  417233
2019-01-31  9520  10350  9020  10200  500895
089470
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4155  4525  4045  4295   620429
2019-01-31  4310  5100  4190  4835  1061467
294870
               시가     고가     저가     종가      거래량
날짜
2018-12-31  38014  46035  36995  44691  3242248
2019-01-31  44319  47935  39452  46916  3418797
011200
              시가    고가    저가    종가       거래량
날짜
2018-12-31  3720  3725  3385  3695  13494258
2019-01-31  3745  4095  3560  4035  27753610
036640
              시가    고가    저가    종가     거래량
날짜
2018-12-31  2995  3230  2815  2830  851450
2019-01-31  2850  3135  2760  3070  899784
082740
              시가    고가    저가    종가      거래량
날짜
2018-12-31  5330  6100  5150  5280  6742166
2019-01-31  5350  6860  4990  6860  6816064
299170
              시가    고가    저가    종가     거래량
날짜
2018-12-31  2259  2264  2210  2232  215688
2019-01-31  2237  2286  2210  2275  156994
335890
Empty DataFrame
Columns: [시가, 고가, 저가, 종가, 거래량]
Index: []
335870
Empty DataFrame
Columns: [시가, 고가, 저가, 종가, 거래량]
Index: []
351340
Empty DataFrame
Columns: [시가, 고가, 저가, 종가, 거래량]
Index: []
351320
Empty DataFrame
Columns: [시가, 고가, 저가, 종가, 거래량]
Index: []
003560
              시가    고가    저가    종가       거래량
날짜
2018-12-31  1960  2095  1845  1860  10007555
2019-01-31  1900  2145  1745  1840  28040009
095340
              시가    고가    저가    종가     거래량
날짜
2018-12-31  8803  8832  7841  8620  552836
2019-01-31  8780  9180  7690  9000  754837
099520
              시가    고가    저가    종가      거래량
날짜
2018-12-31  1330  1550  1240  1480  2203538
2019-01-31  1500  1640  1320  1350  2664809
175330
              시가    고가    저가    종가       거래량
날짜
2018-12-31  5620  5740  5440  5700  11845908
2019-01-31  5700  6060  5210  6030   7549364
950170
              시가    고가    저가    종가      거래량
날짜
2018-12-31  7290  7620  6370  6730  1677270
2019-01-31  6750  7490  6060  7120  2748725
234080
               시가     고가     저가     종가      거래량
날짜
2018-12-31  23800  24300  20600  21950   806010
2019-01-31  22000  24400  19800  22250  2040447
067290
              시가    고가    저가    종가      거래량
날짜
2018-12-31  6800  7020  6410  6710  2489501
2019-01-31  6720  7010  6210  6720  4462641
001060
               시가     고가     저가     종가      거래량
날짜
2018-12-31  36355  41269  36259  39641  1250340
2019-01-31  39641  41635  37598  38960  1236138
001067
               시가     고가     저가     종가    거래량
날짜
2018-12-31  39264  42413  38214  39669   7929
2019-01-31  39669  45211  38308  44239  19337
001065
               시가     고가     저가     종가    거래량
날짜
2018-12-31  24751  26039  23559  24575  12048
2019-01-31  24477  25448  23846  24963  12163
096760
              시가    고가    저가    종가      거래량
날짜
2018-12-31  6866  7439  6390  6940  1463701
2019-01-31  6969  7193  6736  6872  1453568
035900
               시가     고가     저가     종가       거래량
날짜
2018-12-31  30000  32300  27550  30250   7316792
2019-01-31  30500  33500  27200  27700  15938629
024840
              시가    고가    저가    종가       거래량
날짜
2018-12-31  2280  2545  2020  2100  28330842
2019-01-31  2110  2730  2035  2325  34622827
105560
               시가     고가     저가     종가       거래량
날짜
2018-12-31  46700  49250  44200  46500  17201576
2019-01-31  46700  47850  44400  46650  23447015
024120
              시가    고가    저가    종가    거래량
날짜
2018-12-31  5280  5540  5170  5410  76857
2019-01-31  5310  5670  5160  5500  88635
002380
                시가      고가      저가      종가     거래량
날짜
2018-12-31  249336  275674  245824  271285  297442
2019-01-31  269528  284453  254603  282259  493940
021320
              시가    고가    저가    종가      거래량
날짜
2018-12-31  7070  7250  6770  7070   696653
2019-01-31  7080  8560  6860  8560  1876871
036670
              시가    고가    저가    종가      거래량
날짜
2018-12-31  7940  7940  7280  7780   128802
2019-01-31  7840  9950  7540  9410  2955841
009070
              시가    고가    저가    종가       거래량
날짜
2018-12-31  2765  3340  2605  2875   4732400
2019-01-31  2880  4395  2840  3620  17250270
009440
              시가    고가    저가    종가      거래량
날짜
2018-12-31  3790  4360  3670  3725   963224
2019-01-31  3780  4680  3525  4085  1747552
112190
              시가    고가    저가    종가     거래량
날짜
2018-12-31  3500  3810  2500  2500  145511
2019-01-31  2695  3500  2285  3500  118342
119650
              시가    고가    저가    종가      거래량
날짜
2018-12-31  4080  5150  3955  4260  3408258
2019-01-31  4305  5940  4230  5280  4937970
044180
             시가   고가   저가   종가        거래량
날짜
2018-12-31  575  600  505  540  163540268
2019-01-31  545  585  515  540  205944319
092220
              시가    고가    저가    종가       거래량
날짜
2018-12-31   989  1165   937  1035  28617141
2019-01-31  1045  1205  1015  1140  25300928
151860
              시가    고가    저가    종가      거래량
날짜
2018-12-31  3250  3430  3095  3210  1501502
2019-01-31  3210  3330  2910  3315  2440465
016380
               시가     고가     저가     종가      거래량
날짜
2018-12-31  22466  24766  20000  21400   123776
2019-01-31  21400  51833  21166  31233  5902873
016385
                시가      고가      저가      종가     거래량
날짜
2018-12-31  143851  155073  132628  142491    4389
2019-01-31  142490  251994  138409  156094  631563
046440
              시가    고가    저가    종가      거래량
날짜
2018-12-31  7110  7440  6950  7350   563189
2019-01-31  7440  8350  7260  7900  1893421
035600
               시가     고가     저가     종가      거래량
날짜
2018-12-31  13750  17000  13650  15400  4061472
2019-01-31  15550  19000  14650  14800  9393968
001390
               시가     고가     저가     종가      거래량
날짜
2018-12-31  17800  18050  16400  17400  1334456
2019-01-31  17550  18800  15600  16750  3097617
060720
              시가     고가    저가    종가      거래량
날짜
2018-12-31  7760   8360  7120  8190  1098563
2019-01-31  8270  10200  7260  9440  4272116
001940
               시가     고가     저가     종가     거래량
날짜
2018-12-31  13000  14000  12450  13750  210738
2019-01-31  13700  13750  12700  13600  145863
122450
              시가    고가    저가    종가      거래량
날짜
2018-12-31  7640  8090  6920  7520  1237135
2019-01-31  7530  8020  7070  7730  1320216
052900
             시가    고가   저가   종가      거래량
날짜
2018-12-31  986  1050  877  902  1575502
2019-01-31  904  1015  870  986  2529160
058400
             시가    고가   저가   종가       거래량
날짜
2018-12-31  770   853  761  833   1023434
2019-01-31  833  1020  806  951  11292912
114450
              시가    고가    저가    종가      거래량
날짜
2018-12-31  5310  5840  3985  4250  8555586
2019-01-31  4300  5080  3980  4995  4447519
025000
               시가     고가     저가     종가     거래량
날짜
2018-12-31  51700  54400  49750  52400   44953
2019-01-31  52200  54900  47900  52900  300367
092230
               시가     고가     저가     종가    거래량
날짜
2018-12-31  62800  63900  60400  61200  17802
2019-01-31  61600  61600  59000  59700  10411
000040
              시가    고가    저가    종가      거래량
날짜
2018-12-31  2090  2513  1940  2030  7069094
2019-01-31  2050  2293  1989  2115  6987466
044450
              시가    고가    저가    종가      거래량
날짜
2018-12-31  6920  7100  6420  6480   611840
2019-01-31  6480  6710  6030  6500  1008013
030200
               시가     고가     저가     종가       거래량
날짜
2018-12-31  30200  31250  29350  29800  10160881
2019-01-31  29700  31050  28700  28900  11286212
033780
                시가      고가      저가      종가      거래량
날짜
2018-12-31  107500  109500  100500  101500  4535580
2019-01-31  100500  103500   96600   99800  5838372
030210
              시가    고가    저가    종가      거래량
날짜
2018-12-31  3210  3290  2855  2960  1720991
2019-01-31  3005  3340  2805  3165  2960226
036030
              시가    고가    저가    종가     거래량
날짜
2018-12-31  4805  4935  4495  4820  145136
2019-01-31  4815  5850  4555  5720  519950
058850
              시가    고가    저가    종가       거래량
날짜
2018-12-31  2630  2885  2400  2485  11217869
2019-01-31  2490  2790  2380  2620  15198083
058860
              시가    고가    저가    종가       거래량
날짜
2018-12-31  2710  2815  2410  2445   3716915
2019-01-31  2495  3320  2330  2895  18914311
060370
              시가    고가    저가    종가      거래량
날짜
2018-12-31  3495  3555  3135  3200   658108
2019-01-31  3205  3555  3010  3510  1207104
093050
               시가     고가     저가     종가      거래량
날짜
2018-12-31  24050  26250  23700  24850   990492
2019-01-31  25050  27050  23850  24400  1487718
003550
               시가     고가     저가     종가      거래량
날짜
2018-12-31  69000  75900  67000  69900  3826703
2019-01-31  69400  77600  67500  77200  4165951
034220
               시가     고가     저가     종가       거래량
날짜
2018-12-31  16800  18600  16600  18050  21092136
2019-01-31  18100  21100  17500  19750  38931846
001120
               시가     고가     저가     종가      거래량
날짜
2018-12-31  16200  16850  14950  15350  2218007
2019-01-31  15350  17400  14600  17150  3595803
051900
                 시가       고가       저가       종가     거래량
날짜
2018-12-31  1139000  1179000  1062000  1101000  498085
2019-01-31  1106000  1269000  1065000  1260000  723548
051905
                시가      고가      저가      종가    거래량
날짜
2018-12-31  689000  705000  629000  656000  26220
2019-01-31  655000  755000  641000  752000  43011
003555
               시가     고가     저가     종가    거래량
날짜
2018-12-31  42300  42750  40450  40750  43680
2019-01-31  40750  42900  38400  42500  44800
032640
               시가     고가     저가     종가       거래량
날짜
2018-12-31  17350  18200  16850  17650  22302573
2019-01-31  17650  18700  14900  15000  51252849
011070
               시가      고가     저가     종가      거래량
날짜
2018-12-31  92600   94200  83500  86400  2336774
2019-01-31  87200  101000  80000  98200  4582658
066570
               시가     고가     저가     종가       거래량
날짜
2018-12-31  66300  69200  60600  62300   9898966
2019-01-31  63300  70200  61100  67600  15924879
066575
               시가     고가     저가     종가     거래량
날짜
2018-12-31  27500  28300  25200  26350  245846
2019-01-31  25900  28250  24550  27650  563575
108670
               시가     고가     저가     종가     거래량
날짜
2018-12-31  52900  59400  52300  56600  408467
2019-01-31  56600  69000  53800  68700  659152
108675
               시가     고가     저가     종가    거래량
날짜
2018-12-31  31800  33000  31100  31950  11463
2019-01-31  31900  33400  29000  32600  34385
037560
               시가     고가    저가     종가      거래량
날짜
2018-12-31  10050  10200  8950   9160  2444811
2019-01-31   9060  10550  9030  10100  4803693
051910
                시가      고가      저가      종가      거래량
날짜
2018-12-31  347500  362500  337500  347000  2866779
2019-01-31  351000  382500  321500  379000  4018405
051915
                시가      고가      저가      종가     거래량
날짜
2018-12-31  200000  202500  188000  195500  213292
2019-01-31  195500  214500  182500  211000  238448
079550
               시가     고가     저가     종가      거래량
날짜
2018-12-31  33250  37750  31800  36950  1267265
2019-01-31  37100  41900  33550  33950  3732490
006260
               시가     고가     저가     종가      거래량
날짜
2018-12-31  52700  54900  48000  49100  1293662
2019-01-31  49400  57500  46150  55900  2131822
010120
               시가     고가     저가     종가      거래량
날짜
2018-12-31  52400  52400  48150  49000  1145732
2019-01-31  49150  55000  44850  53100  2135615
000680
              시가    고가    저가    종가     거래량
날짜
2018-12-31  2600  2600  2410  2480  194017
2019-01-31  2510  2930  2480  2830  245247
229640
              시가    고가    저가    종가     거래량
날짜
2018-12-31  5650  5820  5540  5630  451627
2019-01-31  5680  6020  5450  5950  403836
023150
              시가    고가    저가    종가    거래량
날짜
2018-12-31  5780  5970  5540  5890  79312
2019-01-31  5890  5980  5440  5520  87311
065150
            시가  고가  저가    종가  거래량
날짜
2018-12-31   0   0   0  1315    0
2019-01-31   0   0   0  1315    0
219550
              시가    고가    저가    종가       거래량
날짜

KeyboardInterrupt:

In [76]:
# 해당 월 기준 재무재표 종목들 다 가져오는 
df = stock.get_market_fundamental_by_ticker("20180205")
df = pd.DataFrame(df)

In [77]:
df

           종목명   DIV    BPS     PER   EPS       PBR
티커
000250   삼천당제약  0.14   5689   84.48   422  6.266578
000440  중앙에너비스  2.76  37029   25.55  1135  0.783150
001000    신라섬유  0.00    563  290.91    11  5.683854
002230    피에스텍  1.29   6980   24.11   241  0.832451
002290  삼일기업공사  3.00   4256   54.64    55  0.706109
...        ...   ...    ...     ...   ...       ...
282330  BGF리테일  0.00      0    0.00     0  0.000000
282690   동아타이어  0.00      0    0.00     0  0.000000
284740   쿠쿠홈시스  0.00      0    0.00     0  0.000000
285130   SK케미칼  0.00      0    0.00     0  0.000000
28513K  SK케미칼우  0.00      0    0.00     0  0.000000

[2127 rows x 6 columns]